includeConfig "$baseDir/params.config"

process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: 'DESEQ2_DIFFERENTIAL' {
        ext.args = { "--blocking_variables $meta.blocking --vs_method $params.vs_method --sizefactors_from_controls $params.sizefactors_from_controls --gene_id_col $params.gene_id_col --sample_id_col $params.sample_id_col --subset_to_contrast_samples $params.subset_to_contrast_samples --exclude_samples_col $params.exclude_samples_col --exclude_samples_values $params.exclude_samples_values --test $params.test --fit_type $params.fit_type --sf_type $params.sf_type --min_replicates_for_replace $params.min_replicates_for_replace --use_t $params.use_t  --lfc_threshold $params.lfc_threshold --alt_hypothesis $params.alt_hypothesis --independent_filtering $params.independent_filtering --p_adjust_method $params.p_adjust_method --alpha $params.alpha --minmu $params.minmu --shrink_lfc $params.shrink_lfc --cores $params.cores --vs_blind $params.vs_blind --vst_nsub $params.vst_nsub"}
        container = {'quay.io/biocontainers/bioconductor-deseq2:1.34.0--r41hc247a5b_3'}
	}  

}
