params {
    samplesheet      		= " "
    counts        		= " "
    control_genes_file          = " "
    contast_file		= " "
    outdir			= "$baseDir/output_gen"
    sizefactors_from_controls	= 'F'
    gene_id_col 		= "gene_id"
    sample_id_col		= "experiment_accession"
    subset_to_contrast_samples 	= 'F'
    exclude_samples_col 	= ''
    exclude_samples_values 	= ''
    test 			= "Wald"
    fit_type 			= "parametric"
    sf_type 			= 'ratio'
    min_replicates_for_replace 	= 7
    use_t 			= 'F'
    lfc_threshold 		= 0
    alt_hypothesis 		= 'greaterAbs'
    independent_filtering 	= 'T'
    p_adjust_method 		= 'BH'
    alpha 			= 0.1
    minmu 			= 0.5
    shrink_lfc 			= 'T'
    cores 			= 1
    vs_method 			= 'vst'
    vs_blind 			= 'T'
    vst_nsub 			= 1000
}
